* {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  --width: 1200px;
  --height: 900px;
  background: rgb(3, 125, 1);
  --flex-direction: row-reverse;
  --flex-wrap: wrap;
  flex-flow: row-reverse wrap;
}

.item {
  background: #81c368;
  margin: 20px;
  width: 100px;
  height: 100px;
}
